<button *ngIf="status === gameStatus.standBy" class="round-button" (click)="startGame()">
    <fa-icon [icon]="faPlayCircle"></fa-icon>
</button>
<ng-container *ngIf="lastSlideId !== currentSlideId">
    <button *ngIf="status === gameStatus.inProgress" class="round-button" (click)="setNextSlide()">
        <fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
</ng-container>
<button *ngIf="lastSlideId === currentSlideId" class="round-button" (click)="finishGame()">
    <fa-icon [icon]="faFlagCheckered"></fa-icon>
</button>
