.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1, h2 {
        text-align: center;
    }
    .slides-wrapper{
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        .slide-option{
            margin: 6px 0;
            width: 100%;
        }
        form{
            width: 100%;
        }
    }
    .game-title{
        width: 100%;
    }
    .slides-container{
        margin-bottom: 24px;
    }
}