<ng-container *ngIf="user$ | async as user">
    <ng-container *ngIf="game$ | async as game">
        <ng-container *ngIf="status$ | async as status">
            <div class="container game-wrapper" [ngSwitch]="status">
                <div class="stand-by" *ngSwitchCase="gameStatus.standBy">
                    <qz-stand-by [title]="game.title" [nickName]="user.nickName" [connectedUsers]="allUsersAnswers$ | async"></qz-stand-by>
                </div>
                <div class="in-progress" *ngSwitchCase="gameStatus.inProgress">
                    <ng-container *ngIf="currentSlide$ | async as currentSlide">
                        <ng-container *ngIf="currentSlide.type === slideType.results">
                            <ng-container *ngIf="allUsersAnswersRanking$ | async as allUsersAnswersRanking">
                                <qz-results [title]="currentSlide.title" [userAnswer]="userAnswer$ | async" [allUsersAnswers]="allUsersAnswersRanking"></qz-results>
                            </ng-container>
                        </ng-container>
                        <div class="quiz-wrapper" *ngIf="currentSlide.type === slideType.quiz || currentSlide.type === slideType.aOrB">
                            <h3 class="title">{{ currentSlide.title }}</h3>
                            <div  *ngIf="currentSlide.imageUrl" class="preview">
                                <img id="tv" [src]="currentSlide.imageUrl" alt="game image">
                            </div>
                            <div class="timer" *ngIf="timeStamp$ | async as timeStamp">
                                <qz-timer *ngIf="timeStamp !== null && currentSlide?.seconds !== null" [time]="{timeStamp: timeStamp, seconds: currentSlide?.seconds || 0}" (timeIsUp)="timeIsUp($event)" ></qz-timer>
                            </div>
                            <div *ngIf="!loading" class="options-wrapper">
                                <ng-container *ngFor="let option of currentSlide.options; index as j">
                                    <qz-game-option [color]="j === 0 ? 'red': j === 1 ? 'blue' : j === 2 ? 'yellow' : 'green'"  [isDisabled]="(disableAnswers$ | async) && !isOwnerOfGame" [text]="option.title" (selected)="selectedOption(option, currentSlide.id ,currentSlide.points)"></qz-game-option>
                                </ng-container>
                            </div>
                        </div>
                        <div class="quiz-wrapper" *ngIf="currentSlide.type === slideType.answer" >
                            <qz-answer [title]="currentSlide.title" [imageUrl]="currentSlide.imageUrl" [description]="currentSlide.description"></qz-answer>
                        </div>
                    </ng-container>
                </div>
                <div class="finished" *ngSwitchCase="gameStatus.finished">
                    <qz-finish [nickName]="user.nickName" [usersAnswers]="allUsersAnswersRanking$ | async" [userAnswer]="userAnswer$ | async"></qz-finish>
                </div>
                <div class="owner-controls" *ngIf="isOwnerOfGame">
                    <qz-owner-controls [status]="status" [currentSlideId]="currentSlideId$ | async" [game]="game" [user]="user"></qz-owner-controls>
                </div>
            </div>
        </ng-container>
        
    </ng-container>
</ng-container>

<!-- <router-outlet></router-outlet> -->
