:host{
    display: flex;
    overflow-y: scroll;
    // background-image: url("/assets/images/disneyPattern.jpeg");
    // background-size: contain;
    // background-repeat: repeat;
    padding: 20px;
    height: calc(100% - 40px);
    max-height: calc(100% - 40px);

    background-color: #0F4D84;
    background-image:
    repeating-linear-gradient(120deg, rgba(255,255,255,.1), transparent 1px, transparent 10000px),
    repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 10000px),
    linear-gradient(60deg,rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
    linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 180px 305px;
    overflow: hidden;
    .game-wrapper{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        .stand-by, .in-progress, .finished {
            flex-grow: 1;
            overflow-y: auto;
        }

        .owner-controls{
            flex-shrink: 2;
        }
    }
    .quiz-wrapper{
        position: relative;
        .title{
            margin : 0 auto;
            font-family: 'Archivo Black', "bungee",sans-serif;
            font-style: normal;
            font-weight: 400;
            color:white;
            text-shadow: -1px 0 1px #582E00, 
                        1px 0 1px #582E00,
                        0 -1px 1px #582E00,
                        0 4px 1px #582E00,
                        -2px 4px 1px #582E00,
                        2px 3px 2px #582E00;
            text-align: center;
            margin-bottom: 16px;
        }
        .timer{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
        }
    }
    .preview{
        max-width: 500px;
        margin-bottom: 16px;
        img {
            border-radius: 16px;
            max-width: 100%;
        }
    }
    
    .options-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    @media only screen and (min-width: 768px) {
        .game-wrapper{
            max-width: 70vw;
            .owner-controls{
                max-width: 300px;
                position: absolute;
                top: 0;
                right: 16px;
            }
        }
        .quiz-wrapper{
            position: relative;
            .title{
                margin: 16px 0 32px 0;
                font-size: 50px;
                line-height: 55px;
                letter-spacing: 2px;
                text-shadow: none;

            }
        }
        .preview{
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                border-radius: 16px;
                max-width: 100%;
                max-height: 45vh;
            }
        }
        .options-wrapper{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            qz-game-option {
                width: 45%;
                margin-bottom: 10px;
            }
        }

    }
}


