:host{
    position: relative;
    .title{
        margin : 0 auto;
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 28px;
        font-family: 'Archivo Black', "bungee",sans-serif;
        font-style: normal;
        font-weight: 400;
        color:white;
        text-shadow: none;
        text-align: center;
    }
    .preview{
        display: flex;
        justify-content: center;
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 24px;
        img {
            border-radius: 16px;
            max-width: 100%;
        }
    }
    .description{
        font-size: 18px;
        line-height: 22px;
    }
    @media only screen and (min-width: 768px) {
        .title{
            margin: 16px 0 32px 0;
            font-size: 50px;
            line-height: 55px;
            letter-spacing: 2px;
            text-shadow: none;

        }
        .preview{
            margin-bottom: 34px;
        }
        .description{
            font-size: 26px;
            line-height: 30px;
        }
    }   
}