.wrapper {
    margin: 0 auto;
    h1, h2 {
        text-align: center;
    }
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
            margin-top: 16px;
        }
    }
}
